* {
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

a {
    text-decoration: none;
}

/* HEADER */

.header {
    padding: 0 80px;
    height: 80px;
    display: flex;

    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #EBE8F4;
}

.logo {
    color: #22202E;

    font-family: Montserrat;
    font-size: 24px;
}

.top-nav-menu {
    display: flex;
    gap: 44px;
    list-style: none;
}

.top-menu-item {
    color: #726E8D;

    font-family: Open Sans;
    font-size: 16px;
}

.top-side-menu {
    display: flex;
    gap: 16px;
}

.top-side-action {
    display: block;
    width: 16px;
    height: 16px;
}

.search {
    background-image: url(../images/Search.jpg);
}

.cart {
    background-image: url(../images/Shopping--cart.jpg);
}

.avatar {
    background-image: url(../images/User--avatar.jpg);
}

/* HEADER END */

/* MAIN */



.article {
    margin: 80px auto 24px auto;
    text-align: center;

    color: #2A254B;
    font-family: Montserrat;
    font-size: 36px;
    line-height: 140%;
}

.filters-main-menu {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 64px;
}

.filters {
    display: flex;
    padding: 12px 24px;
    align-items: center;
}

.filters select {
    margin-right: 60px;
}

.filters-main-menu label {
    color: #2A254B;
    font-family: Open Sans;
    font-size: 16px;
    line-height: 150%;
    padding: 8px 8px 8px 24px;
    text-align: center;
}

.date-filter {
    display: flex;
    padding: 12px 24px;
    align-items: center;
}

.date-filter p {
    color: #2A254B;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 150%;
}

/* MAIN GRID START! */

.main-content {
    display: grid;
    width: 1280px;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 20px;
    margin: 28px auto 48px auto;
    justify-content: center;
    align-items: center;
}

.main-content-item {
    display: block;
}

.main-content-image {
    display: block;
    width: 306px;
    height: 376px;
    background-size: cover;
}

.main-item-1 {
    background-image: url(../images/listings/chair.png);
}

.main-item-2 {
    background-image: url(../images/listings/vases.png);
}
.main-item-3 {
    background-image: url(../images/listings/jug.png);
}
.main-item-4 {
    background-image: url(../images/listings/lamp.png);
}

.main-item-description {
    color: #2A254B;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 140%;
    margin-top: 28px;
}

.main-item-price {
    margin-top: 8px;
    color: #2A254B;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 150%;
}

/* MAIN GRID END! */

.middle-button {
    display: block;
    width: 112px;
    margin: 0 auto 40px auto;
    padding: 16px 32px;
    text-align: center;

    color: #2A254B;
    font-family: Open Sans;
    font-size: 16px;
    line-height: 150%;

    background-color: #F9F9F9;
}

.middle-image {
    width: 720px;
    height: 521px;
    background: url(../images/Image.png);
}

.middle-content {
    display: flex;
    height: 521px;
}

.middle-content-text {
    display: flex;
    flex-direction: column;
}

.middle-title {
    margin: 71px auto 21px 49px;
    color: #2A254B;
    font-family: Montserrat;
    font-size: 32px;
}

.middle-text {
    margin: 0 auto 216px 49px;
    color: #2A254B;
    font-family: Open Sans;
    font-size: 16px;
    line-height: 150%;
}

.middle-second-button {
    display: block;
    width: 56px;
    background-color: #2A254B;
    margin: 0 auto 70px 49px;

    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    line-height: 150%;
    padding: 16px 32px;
}

/* MAIN END */

.footer {
    background-color: #2A254B;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    color: #FFF;
    
    gap: 100px;
    padding: 58px 80px 0;
}

.footer-menu ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-menu a {
    color: #FFF;
    font-family: Open Sans;
    font-size: 14px;
}

.footer-title {
    font-family: Montserrat;
    font-size: 16px;
}

.footer-image {
    background-image: url(../images/map.jpg);
    width: 642px;
    height: 196px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    border-top: 1px solid #4E4D93;
    padding: 24px 0;
}

.footer-bottom p {
    color: #FFF;
    font-family: Open Sans;
    font-size: 14px;
}

.logos {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo {
    display: block;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px; 
}

.logo1 {
    background-image: url(../images/logos/logo--linkedin.png);
}

.logo2 {
    background-image: url(../images/logos/logo--facebook.png);
}

.logo3 {
    background-image: url(../images/logos/logo--instagram.png);
}

.logo4 {
    background-image: url(../images/logos/logo--skype.png);
}

.logo5 {
    background-image: url(../images/logos/logo--twitter.png);
    background-size: 90%;
}

.logo6 {
    background-image: url(../images/logos/logo--pinterest.png);
}